html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*^^^RESET^^^*/
  * {
      text-align: center;
  }

  #grid-target{
      margin: 25px auto;
      height: 564px;
      width: 564px;
      border: 2px solid black;
  }
  .gridlet{
    border: 1px solid rgb(121, 121, 121);
    float: right;
  }

  /*
  .gridlet:hover{
    background-color: black;
  }
  */

  /*
  #grid-target > div {
    background: black;
    padding: .16rem;
  }

  
  #grid-target > div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
  */

  
