html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*^^^RESET^^^*/
  * {
      text-align: center;
  }

  body{
    background-color: #F8BBD0;
  }

  h1{
    margin-top: 15px;
    font-size: 42px;
  }

  #grid-target{
      margin: 25px auto;
      height: 564px;
      width: 564px;
      border: 2px solid #448AFF;
  }
  .gridlet{
      /*border: 1px solid rgb(121, 121, 121);*/
      border-left: 1px solid #75a8ff;
      border-bottom: 1px solid #75a8ff;
      float: right;
      background-color: white;
  }

  #resize-button{
      margin: 25px 0 auto;

  }
  #button-header{
      margin-bottom: 25px;
      font-size: 30px;
  }

  #resize-button, .paint-mode{
    color: #FFFFFF;
    background-color: #C2185B;
    border: 2px solid #E91E63;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  h1, #button-header{
    color: #FFF;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px #C2185B;
  }

  #resize-button:hover, .paint-mode:hover{
    color:hsl(64, 100%, 83%);
  }

footer{background-color: hsl(279, 81%, 85%);}